@import url('../fonts/futura/fonts.css'); 
@import url('./reset.css');

html, body { 
	height:100%;
	overflow: auto;
}

.wrapper{
	padding: 0 1em;
}
.section-title {
	font-family: 'FuturaMediumC';
	color: rgb(70, 70, 70);
	font-weight: normal;
}
.list {

}
.list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 1em 0;
	border-bottom: 1px solid rgb(220,220,220);
}
.item__body {
	display: flex;
	align-items: center;
}
.item__check {
	margin-right: 1em;
}
.item__title {
	font-family: 'FuturaBookC';
	font-size: 1.2rem;
	color: black;
	flex: 1;
}
.item__buttons {
	flex: none;
	display: flex;
	align-items: center;

}	
.item__button {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	margin-left: .5em;
}	
.completed {
	text-decoration: line-through;
	color: rgb(150, 150, 150);
}

/*Header styles start*/
.header{
	font-family: 'FuturaMediumC';
}
.header__wrapper{
	padding: 1em 1em;
}
.header__date{
	font-size: 1.5rem;
	color: black;
	margin-bottom: .25em;
	margin-top: 0;
}
.header__total{
	font-size: 1rem;
	color: rgb(70, 70, 70);
	margin: 0;
}
/*Header styles end*/

/*Input section styles start*/
.input {
	width: 100%;
	margin-bottom: 1rem;
}
.input__form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: 'FuturaBookC';
}
.input__field {
	height: 2rem;
	border: none;
	border-bottom: 1px solid black;
	flex: 1;
	outline:none;
	margin-right: 1.5em;

}
.input__button{
	width: min(max(15vw, 50px), 100px);
	flex: none;
	height: 2rem;
}
/*Input section styles end*/

/*Incomplete section styles start*/
.incomplete {
	
	margin-bottom: 1rem;
}
/*Incomplete section styles start*/

/*Complete section styles start*/
.complete {
	
	margin-bottom: 1rem;
}
/*Complete section styles start*/

/*Media queries*/
@media screen and (min-width: 576px) {
	html {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 992px) {
	html {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 1.4rem;
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 1.4rem;
	}
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.complete, .incomplete {
		width: 50%;
	}
	.input__form {
		width: 50%;
		padding-right: 1em
	}
}
@media screen and (min-width: 1920px) {
	html {
		font-size: 1.5rem;
	}

}
